<header class="main-header">
    <div class="header-container">
        <div class="logo">
            <a href="/">
                <img src="/assets/ca.jpg" alt="image">
                <span class="logo-text">Ton Territoire Bouge</span>
            </a>
        </div>
        
        <nav class="main-nav">
            <a href="/" class="nav-link">
                <span>Dashboard</span>
            </a>
            <a href="/carte" class="nav-link">
                <span>Carte</span>
            </a>
            <a href="/soumettre-besoin" class="nav-link">
                <span>Signaler un besoin</span>
            </a>
        </nav>
    </div>
</header>
